body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 30%;
}

.Container {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.display-name {
  background-color: grey;
  text-align: end;
}

.row-1 {
  display: flex;
  flex-direction: row;
}

.box {
  border: solid 1px black;
  width: 25%;
  text-align: center;
  justify-content: center;
}

.box-50 {
  border: solid 1px black;
  width: 50%;
  text-align: center;
  justify-content: center;
}

.orange {
  background-color: orange;
}
